In [2]:
import pandas as pd

In [4]:
data_weather = pd.read_csv("files\weather.csv", sep=",")
data_weather.head(8)

,Datetime,Temperature,Precipitation Total,Wind Gust,Wind Speed,Cloud Cover Total,Sunshine Duration
0,NaN,°C,mm,km/h,km/h,%,min
1,2023-04-01T00:00:00,8.740245,0.1,48.6,21.638964,90,0
2,2023-04-01T01:00:00,9.040245,0.2,55.44,22.493519,74,0
3,2023-04-01T02:00:00,8.880245,0.3,55.8,22.26477,72,0
4,2023-04-01T03:00:00,8.690246,0.3,55.44,21.94524,77,0
5,2023-04-01T04:00:00,8.630245,0.3,48.96,22.42427,78,0
6,2023-04-01T05:00:00,8.430245,0.5,48.6,22.91026,77,0
7,2023-04-01T06:00:00,8.690246,0.3,50.039997,23.1774,98,0.5287884

In [5]:
data_weather = data_weather[1:]
data_weather = data_weather.astype({"Temperature" : float,
           "Precipitation Total": float, "Wind Gust": float, 
           "Wind Speed": float, "Cloud Cover Total": float, "Sunshine Duration": float})
for i in data_weather.columns:
    data_weather = data_weather.rename(columns={i: i.lower().replace(" ", "_")})
data_weather.head(5)

,datetime,temperature,precipitation_total,wind_gust,wind_speed,cloud_cover_total,sunshine_duration
1,2023-04-01T00:00:00,8.740245,0.1,48.60,21.638964,90.0,0.0
2,2023-04-01T01:00:00,9.040245,0.2,55.44,22.493519,74.0,0.0
3,2023-04-01T02:00:00,8.880245,0.3,55.80,22.264770,72.0,0.0
4,2023-04-01T03:00:00,8.690246,0.3,55.44,21.945240,77.0,0.0
5,2023-04-01T04:00:00,8.630245,0.3,48.96,22.424270,78.0,0.0